
<h3>Register:</h3>
<form method="post" action="/users/new">

  <p>Username: <input type="text" name="username"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
      
  <input type="submit" id="button" value="Submit">
</form>