<div class="jumbotron">
  <h1 class="lead">Here are the events you are attending:</h1>
</div>
<div class="container">

<%Participant.all.each do |participant|%>
  <%if participant.event_id == nil %>
    <%participant.delete%>
  <%else%>
    <%event = Event.find(participant.event_id)%>
    <%participant.users.each do |attendee|%>
      <%if @user.username == attendee.username%>
      <div class="container">
        <div class="col-sm-6">
          <h4 class="lead" style="color: #884488">Event</h4>
          <h4><%=event.name%></h4>
          <h4 class="lead" style="color: #884488">Organizer</h4>
          <h4><%=User.find(event.user_id).username%></h4>
          <br></br>
        </div>
        <div class="col-sm-6"> 
          <h4 class="lead" style="color: #ff1199">Details</h4>
          <p><%=event.details%></p>
          <br></br>
        </div>
      </div>
      <%end%>
    <%end%>
  <%end%>
<%end%>
<p><a class="btn btn-lg btn-primary" href="/users/<%=@user.id%>/homepage">Return to Homepage</a></p>
</div>