<div class="jumbotron">
  <h1 style="color: #441144" class="lead">Who Do We Think We Are?</h1>
  <p class="lead">...and if we answer, aren't we just holding up a mirror to whomever inquires?</p>
</div>

<div class="row marketing">
  <div class="col-sm-12">
    <h4 style="color: #441144">Who needs a mirror?</h4>
    <p>I do.</p><p>I have something in my teeth and I have a meeting in like, 5 minutes.  Ugh.  Today is the worst.</p>
  </div>
</div>

<div class="container">
  <p><a href="/">Return</a></p>
</div>