<div class="jumbotron">
  <h1 style="color: #441144" class="lead">You want to find us?</h1>
  <p class="lead">Just look inside your heart.</p>
  <p class="lead"><a href="/users/logout">Return</a></p>
</div>

