<div class="containter">
<h1>Welcome to the Event Maker</h1>
      <h4><a href="/users/login">Login</a></h4>
      <p style="color: orange">OR</p>
      <h4><a href="/users/new">Register</a></h4>
  </div>