<div class="jumbotron">
  <h1>Welcome to the Event Maker</h1>
  <p class="lead">Sign Up. Sign In. Start making events with other registered users!</p>
  <p><a class="btn btn-lg btn-success" href="/users/new" role="button">Sign up today</a></p>
  <p class="lead">-or-</p>
  <p><a class="btn btn-lg btn-success" href="/users/login" role="button">Sign In</a></p>
</div>

<div class="row marketing">
  <div class="col-sm-6">
    <h4 style="color: #441144">Users</h4>
    <p>I'm sure there will be no problem buidling a robust user base in the millions!</p>

    <h4 style="color: #441144">Sticky</h4>
    <p>Users who sign up, STAY sign up, ya heard?</p>
  </div>

  <div class="col-sm-6">
    <h4 style="color: #441144">Engaged</h4>
    <p>Our users engage with the site an average of 22 times a day! Probably!</p>

    <h4 style="color: #441144">Youth!</h4>
    <p>You may not understand what those kids are up to these days, but we do!  We'll tweet at 'em right good!</p>
  </div>
</div>


